@using RTB.BlazorUI.Services.BusyTracker
@using Microsoft.AspNetCore.Components.Sections

@inherits LayoutComponentBase

@inject IBusyTracker BusyTracker

@code {
    internal static object TopbarSection = new();

    protected override void OnInitialized()
    {
        BusyTracker.OnBusyChanged += StateHasChanged;
    }
}

<CascadingValue Value="this">
    <FlexLayout IsVertical FullHeight class="page flex flex-col bg-zinc-50 dark:bg-zinc-900 text-white">
        <nav class="flex flex-row justify-between p-4 container self-center items-center">
            <NavLink href="">
                <FlexLayout IsHorizontal class="items-center">
                    <Icon Path="_content/RTB.BlazorUI/rtb_logo.svg" title="" Height="64" Width="72" class="fill-black dark:fill-black" />
                    <span class="text-black text-xl">PdfBuddy</span>
                </FlexLayout>
            </NavLink>
            <ul class="flex flex-row gap-4 items-center">
                <SectionOutlet SectionId="@TopbarSection" />
                @if (BusyTracker.IsAnyBusy)
                {
                    <div class="animate-spin inline text-red-400">.</div>
                }
                <li class="hover:text-slate-400">
                    <NavLink href="infos" title="Impressum and more">
                        <Icon IconName="Info" class="text-black dark:text-white" title="Soure Code" />
                    </NavLink>
                </li>
                <li class="hover:text-slate-400">
                    <NavLink href="https://github.com/IIFabixn/RTB.PdfBuddy" target="_blank" title="Impressum and more">
                        <Icon IconName="GitHub-Mark" class="text-black dark:text-white" />
                    </NavLink>
                </li>
                <li>
                    <a href="https://www.buymeacoffee.com/RefusedToBrew" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="width: 217px !important;"></a>
                </li>
            </ul>
        </nav>
        <div class="flex flex-col overflow-auto h-full">
            @Body
        </div>
    </FlexLayout>
</CascadingValue>