@page "/"
@using Microsoft.AspNetCore.Components.Forms
@using System.Text.Json
@using RTB.BlazorUI.Extensions
@using RTB.BlazorUI.Services.BusyTracker
@using RTB.BlazorUI.Services.DataNavigationService
@using RTB.PdfBuddy.Web.Extensions
@using RTB.BlazorUI.Services.DragDrop.Components
@using Microsoft.AspNetCore.Components.Sections

@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject DataNavigationService DataNavigationService
@inject BusyTracker BusyTracker
@inherits RTBComponent

<FlexLayout IsVertical>
    <FlexLayout IsVertical class="gap-4 items-center">
        <FlexLayout IsVertical>
            <h1>Welcome to PdfBuddy!</h1>
            <p class="text-caption">PdfBuddy is a simple PDF editor that allows you to manipulate PDF files with ease, just by drag and drop!</p>
        </FlexLayout>

        <FlexLayout IsVertical class="items-center">
            <h2>Features</h2>
            <ul>
                <li>Merge multiple PDFs into one</li>
                <li>Split a PDF into multiple files</li>
            </ul>
        </FlexLayout>

        <FileDropInput Id="IndexFileDrop"
            OnFileSelected="ImportFiles"
            class="h-full rounded flex flex-col justify-center p-4 border-2 border-white">
            <h2 class="text-center">Drag and drop your PDF files here or click to select files.</h2>
        </FileDropInput>
    </FlexLayout>
</FlexLayout>

@code {
    private async Task ImportFiles(InputFileChangeEventArgs args)
    {
        using (BusyTracker.Track())
        {
            var files = args.GetMultipleFiles();

            if (files.Count > 0)
            {
                var readTasks = files.Select(f => f.LoadPdfDocument());
                var documents = await Task.WhenAll(readTasks);

                DataNavigationService.NavigateTo("editor", parameter: [new ("files", documents)]);
            }
        }
    }
}