@page "/"
@using Microsoft.AspNetCore.Components.Forms
@using System.Text.Json
@using PdfSharpCore.Pdf
@using RTB.BlazorUI.Extensions
@using RTB.BlazorUI.Services.BusyTracker
@using RTB.BlazorUI.Services.DataNavigationService
@using RTB.PdfBuddy.Web.Extensions
@using RTB.BlazorUI.Services.DragDrop.Components
@using Microsoft.AspNetCore.Components.Sections
@using System.Net.Mime

@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject DataNavigationService DataNavigationService
@inject BusyTracker BusyTracker
@inherits RTBComponent

<FlexLayout IsVertical>
    <FlexLayout IsVertical class="gap-4 items-center">
        <FlexLayout IsVertical>
            <h1>Welcome to PdfBuddy!</h1>
            <p class="text-caption">PdfBuddy is a simple PDF editor that allows you to manipulate PDF files with ease, just by drag and drop!</p>
        </FlexLayout>

        <FlexLayout IsVertical class="items-center">
            <h2>Features</h2>
            <ul>
                <li>Merge multiple PDFs into one</li>
                <li>Split a PDF into multiple files</li>
            </ul>
        </FlexLayout>

        <FileDropInput Id="IndexFileDrop"
        AcceptedTypes="@(new[] { MediaTypeNames.Application.Pdf })"
        OnInput="ImportFiles"
        class="h-full rounded flex flex-col justify-center p-4 border-2 border-white">
            <h2 class="text-center">Drag and drop your PDF files here or click to select files.</h2>
        </FileDropInput>
    </FlexLayout>
</FlexLayout>

@code {
    private async Task ImportFiles(IBrowserFile[] files)
    {
        if (files.Length == 0) return;

        using (BusyTracker.Track())
        {
            var tasks = files.Select(file => Task.Run(file.LoadPdfDocument));

            var documents = await Task.WhenAll(tasks);

            DataNavigationService.NavigateTo("editor", parameter: [new ("files", documents)]);
        }
    }
}