@page "/"
@using Microsoft.AspNetCore.Components.Forms
@using System.Text.Json
@using RTB.BlazorUI.Extensions
@using RTB.BlazorUI.Models

@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<FlexLayout IsVertical>
    <FlexLayout IsVertical class="gap-4 items-center">
        <FlexLayout IsVertical>
            <h1>Welcome to PdfBuddy!</h1>
            <p class="text-caption">PdfBuddy is a simple PDF editor that allows you to manipulate PDF files with ease, just by drag and drop!</p>
        </FlexLayout>

        <FlexLayout IsVertical class="items-center">
            <h2>Features</h2>
            <ul>
                <li>Merge multiple PDFs into one</li>
                <li>Split a PDF into multiple files</li>
            </ul>
        </FlexLayout>

        <DropArea Id="IndexFileDrop"
            OnFileSelected="LoadFiles"
            class="h-full rounded flex flex-col justify-center p-4 border-2 border-white">
            <h2 class="text-center">Drag and drop your PDF files here or click to select files.</h2>
        </DropArea>
    </FlexLayout>
</FlexLayout>

@code {
    private void LoadFiles(InputFileChangeEventArgs args)
    {
        var files = args.GetMultipleFiles();

        if (files.Count > 0)
        {
            var fileModels = files.Select(file => new BrowserFileModel
            {
                Name = file.Name,
                Size = file.Size,
                ContentType = file.ContentType
            }).ToArray();

            // Navigate to the editor page with the files parameter
            NavigationManager.NavigateWithParams("editor", new KeyValuePair<string, object>("files", fileModels));
        }
    }
}