@page "/"
@using Microsoft.AspNetCore.Components.Forms

<Grid Columns="2fr 1fr" Rows="1fr">
    <GridItem>
        <FlexLayout IsVertical>
            <FlexLayout IsVertical>
                <h1>Welcome to PdfBuddy!</h1>
                <p>PdfBuddy is a simple PDF editor that allows you to manipulate PDF files with ease, just by drag and drop!</p>
            </FlexLayout>

            <FlexLayout IsVertical>
                <h2>Features</h2>
                <ul>
                    <li>Merge multiple PDFs into one</li>
                    <li>Split a PDF into multiple files</li>
                </ul>
            </FlexLayout>
        </FlexLayout>
    </GridItem>
    <GridItem Column="2">
        <label class="h-full rounded flex flex-col" for="fileInput" ondrop="event.stopPropagation();">
            <Grid Rows="50% 50%" class="bg-gray-50 rounded border-2 border-white justify-between">
                <GridItem class="content-center p-4">
                    <h2 class="text-center">Drag and drop your PDF files here or click to select files.</h2>
                    <InputFile OnChange="LoadFiles" id="fileInput" multiple hidden />
                </GridItem>
                <GridItem Row="2" class="overflow-y-auto content-end">
                    <CollectionList IsVertical
                                    TItem="string"
                                    Items="_files"
                                    class="*:border-t *:first:border-0"
                                    onclick="event.stopPropagation();">
                        <ItemTemplate>
                            <FlexLayout Element="li" IsHorizontal class="gap-2 items-center justify-between p-2 border-gray-300">
                                <h4 class="text-nowrap overflow-hidden text-ellipsis" title="@context">@context</h4>
                                <button type="button"
                                        class="text-red-500 self-end shrink-0"
                                        @onclick="@(() => RemoveFile(@context))"
                                        >Remove</button>
                            </FlexLayout>
                        </ItemTemplate>
                    </CollectionList>
                </GridItem>
            </Grid>
        </label>
    </GridItem>
</Grid>

@code {
    private List<string> _files = new List<string>();

    private void LoadFiles(InputFileChangeEventArgs args)
    {
        var files = args.GetMultipleFiles();
        foreach (var file in files)
        {
            var fileName = file.Name;
            _files.Add(fileName);
        }
    }

    private void RemoveFile(string fileName)
    {
        if (_files.Contains(fileName))
            _files.Remove(fileName);
    }
}